@charset "UTF-8";

body {
    font-family: 'メイリオ', sans-serif;
    font-size: 16px;
}

/*=================================
    ヘッダー
===================================*/
#header {
    margin: 0;
    padding: 10px 0 0 0;
    background-color: #fff;
    border: none;
}

#header h1 {
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
}

#header h1 a {
    color: #000;
}

#header h1 a:hover {
    text-decoration: none;
}

#header h1 img {
    display: block;
    margin-bottom: 20px;
}

/* --- media query ---*/
@media (min-width: 768px) {

#header h1 {
    font-size: 24px;
}

#header h1 img {
    float: left;
    margin-right: 15px;
    margin-top: -15px;
    margin-bottom: 0;
}

#header h1:after {
    content: "";
    display: block;
    clear: both;
}
    

/* ナビアイコン設定 */
#header #utility-nav li a {
    text-decoration: underline;
}

    
}/* --- /media query --- */

/*=============================
    グローバルナビゲーション
==============================*/
#global {
    padding: 0;
    background-color: #fff;
}

/* --- media query ---*/
@media (min-width: 768px) {

#global ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    list-style: none;
}

#global li {
    display: table-cell;
    text-align: center;
    *float: left;
}

#global li a {
    display: block;
    padding: 10px 5px 10px 5px;
    color: #000;
    text-decoration: none;
}
    

#global li a:hover,
#global li a:active,
#global li a:focus {
    background-color: #eee;
}
    
#global li a {
    padding: 15px 0;
    border-right: solid 1px #aaa;
}

#global li:first-child a {
    border-left: solid 1px #aaa;
}

#global {
    padding: 0;
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #aaa;
}

#global {
    background-image: linear-gradient(to bottom,
    #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
}

    
#global li a:hover,
#global li a:active,
#global li a:focus {
    background-image: linear-gradient(to bottom,
    #fff 0%, #fff 91%, #ed7e0e 92%, #ed7e0e 100%);
}

#global .navbar-nav,
#global .navbar-nav>li { float: none; }
.navbar {
    min-height: 10px;
    margin-bottom: 0;
}
#global .navbar-collapse:before,
#global .navbar-collapse:after,
#global .nav:before,
#global .nav:after { display: none; }  

}/* --- /media query ---*/

/*================================
    カルーセル
==================================*/
.carousel { margin-bottom: 20px; }

#content .carousel-caption h3 { background: none; }

/* --- media query --- */
@media (max-width: 680px) {
   
.carousel-control { width: 20px; }
.carousel-caption { bottom: 0; }
.carousel-indicators { bottom: 0; }
#content .carousel-caption h3 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 18px;
}
.carousel-caption p { display: none;}

}/* --- /media query --- */

/*================================
    ごあいさつ
=================================*/
#welcome {
    margin-bottom: 40px;
    padding: 0;
}

#welcome h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 1.2;
}

#welcome p {
    line-height: 1.5;
}

#welcome h2 {
    padding: 10px;
    background-color: #ed7e0e;
    color: #fff;
    position: relative;
}

/* ふきだし設定 */
#welcome h2:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40px;
    height: 0;
    width: 0;
    border: solid 15px transparent;
    border-top-color: #ed7e0e;
}

/* チェックリスト */
.check-list {
    padding: 10px 20px;
}

.check-list ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    list-style: none;
}

.check-list li {
    position: relative;
    padding-left: 20px;
}

.check-list li:before {
    position: absolute;
    top: 0;
    left: -5px;
    content: "\f00c";
    color: #990000;
    font-family: "FontAwesome";
}
    

/*================================
    更新履歴
==================================*/
#newsrelease {
    margin-bottom: 40px;
    padding: 0;
}

#newsrelease h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 1.2;
}

#newsrelease ul {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    list-style: none;
}

#newsrelease li {
    padding: 10px 5px 10px 5px;
    border-bottom: solid 1px #aaa;
}

#newsrelease li span {
    display: block;
}

#newsrelease h2 {
    padding: 10px;
    background-color: #ed7e0e;
    color: #fff;
    position: relative;
}

/* ふきだし設定 */
#newsrelease h2:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40px;
    height: 0;
    width: 0;
    border: solid 15px transparent;
    border-top-color: #ed7e0e;
}

/*==================================
    ページトップ
===================================*/
#page-top {
    font-size: 14px;
}

#page-top a {
    float: right;
    background-color: #686868;
    text-decoration: none;
    color: #fff;
    width: 120px;
    padding: 15px 15px 10px 27px;
    text-align: center;
    display: block;
    border-radius: 10px 10px 0 0;
    position: relative;
}

#page-top a:before {
    position: absolute;
    top: 28%;
    left: 15px;
    content: "\f077";
    font-family: "FontAwesome";
}

#page-top a:hover,
#page-top a:active,
#page-top a:focus {
    text-decoration: none;
    background-color: #ed7e0e;
}

/*==================================
    コンテンツページ
===================================*/
#content .page-title {
    padding: 10px 0;
    margin-bottom: 0;
    border-radius: none;
    background-color: #ffe280;
}

#content h2 {
    font-size: 26px;
}

#content h3 {
    font-size: 24px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ed7e0e;
    margin-bottom: 20px;
}

#content h4 {
    font-size: 20px;
    padding: 15px 0 10px 20px;
    margin-bottom: 20px;
    border-left: 5px solid #aa0000;
}

#content h5 {
    padding: 15px 20px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #ffe280;
}

#content h6 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #efefed;
    border-bottom: solid 1px #aaa;
}

#content .plain-table th {
    font-weight: normal;
}

#content .pager li>a {
    background-color: #686868;
    border: none;
    color: #fff;
}

#content .pager li>a:hover,
#content .pager li>a:focus,
#content .pager li>a:active {
    background-color: #ed7e0e;
}

    
/*==================================
    コンテンツメニュー
===================================*/
#contentmenu h3 {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #ed7e0e;
    color: #fff;
    position: relative;
}

/* ふきだし設定 */
#contentmenu h3:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 40px;
    height: 0;
    width: 0;
    border: solid 15px transparent;
    border-top-color: #ed7e0e;
}

/*==================================
    リンクリスト
====================================*/
.link-list-group {
    margin: 20px 0 40px 0;
    line-height: 1.5;
}

.link-list-group dt {
    font-weight: normal;
    float: left;
    width: 10em;
}

.link-list-group dd:after {
    content: "";
    display: block;
    clear: both;
    margin: 10px 0;
    width: 100%;
    border-bottom: solid 1px #aaa;
}

/* --- media query --- */
@media (max-width: 768px) {

.link-list-group dt {
    font-weight: normal;
    float: none;
}

}/* --- /media query --- */

/*==================================
    フッター
===================================*/
#footer {
    padding: 20px 0;
    border-top: solid 1px #aaa;
}